<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <!-- FOOTER -->
            <!-- Благодаря дополнительной библиотеке которую мы опционально подключали в pom мы моежм использовать
            вспомогательные теги и без особых трудностей выводить имя пользователя на странице
            ВАЖНО! Старайтесь писать на английском, даже если не имеете подобного опыта(переводчик),
            это сэкономит вам нервы(проблемы с кодировками, фильтры) и даст бесценный опыт в будущем -->
            © 2020 chernousov.ru
            <span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
            <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>