<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@{/}">Parser</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/settings}">Settings</a></li>
                    <li><a th:href="@{/reporting}">Wiki</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/parser}">Parser</a></li>
                            <li><a th:href="@{/crm}">CRM</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Reporting</li>
                            <li><a th:href="@{/reporting}">Monitoring System</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>