<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opencart Util</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container theme-showcase" role="main">

    <div class="jumbotron" aria-atomic="true">
        <h1>Paser opencart</h1>
        <p>Загрузка xml, парсинг товаров и категорий.</p>
    </div>
    <div class="form-group">
        <input type="text" name="XmlUri" id="XmlUri" class="form-control input-lg"
               placeholder="Введите адресс Xml" required="true" autofocus="true"/>
    </div>
    <button type="button" class="btn btn-default">Загрузить xml</button>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>