<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opencart Utils</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container theme-showcase" role="main">
    <div class="jumbotron" aria-atomic="true">
        <h1>Parser opencart</h1>
        <p>Загрузка xml, парсинг товаров и категорий. Посетите страницу Wiki, для подробного описания работы парсера</p>
    </div>
</div>

</body>
</html>